In [34]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn import neighbors
from sklearn.model_selection import train_test_split

In [18]:
data=pd.read_csv('car.data')
print(data.head(20))

    vhigh vhigh.1  2   2.1  small   low  unacc
0   vhigh   vhigh  2     2  small   med  unacc
1   vhigh   vhigh  2     2  small  high  unacc
2   vhigh   vhigh  2     2    med   low  unacc
3   vhigh   vhigh  2     2    med   med  unacc
4   vhigh   vhigh  2     2    med  high  unacc
5   vhigh   vhigh  2     2    big   low  unacc
6   vhigh   vhigh  2     2    big   med  unacc
7   vhigh   vhigh  2     2    big  high  unacc
8   vhigh   vhigh  2     4  small   low  unacc
9   vhigh   vhigh  2     4  small   med  unacc
10  vhigh   vhigh  2     4  small  high  unacc
11  vhigh   vhigh  2     4    med   low  unacc
12  vhigh   vhigh  2     4    med   med  unacc
13  vhigh   vhigh  2     4    med  high  unacc
14  vhigh   vhigh  2     4    big   low  unacc
15  vhigh   vhigh  2     4    big   med  unacc
16  vhigh   vhigh  2     4    big  high  unacc
17  vhigh   vhigh  2  more  small   low  unacc
18  vhigh   vhigh  2  more  small   med  unacc
19  vhigh   vhigh  2  more  small  high  unacc

In [19]:
data=data.rename(columns={'vhigh':'buying','vhigh.1':'maint','2':'doors','2.1':'persons','small':'lug_boot','low':'safety','unacc':'class'})

In [15]:
data.head(20)

   buying  maint doors persons lug_boot safety  class
0   vhigh  vhigh     2       2    small    med  unacc
1   vhigh  vhigh     2       2    small   high  unacc
2   vhigh  vhigh     2       2      med    low  unacc
3   vhigh  vhigh     2       2      med    med  unacc
4   vhigh  vhigh     2       2      med   high  unacc
5   vhigh  vhigh     2       2      big    low  unacc
6   vhigh  vhigh     2       2      big    med  unacc
7   vhigh  vhigh     2       2      big   high  unacc
8   vhigh  vhigh     2       4    small    low  unacc
9   vhigh  vhigh     2       4    small    med  unacc
10  vhigh  vhigh     2       4    small   high  unacc
11  vhigh  vhigh     2       4      med    low  unacc
12  vhigh  vhigh     2       4      med    med  unacc
13  vhigh  vhigh     2       4      med   high  unacc
14  vhigh  vhigh     2       4      big    low  unacc
15  vhigh  vhigh     2       4      big    med  unacc
16  vhigh  vhigh     2       4      big   high  unacc
17  vhigh  vhigh     2    more    small    low  unacc
18  vhigh  vhigh     2    more    small    med  unacc
19  vhigh  vhigh     2    more    small   high  unacc

In [31]:
X=data[[
    'buying',
    'maint',
    'safety'
]].values

y=data[['class']]
print(X,y)

[['vhigh' 'vhigh' 'med']
 ['vhigh' 'vhigh' 'high']
 ['vhigh' 'vhigh' 'low']
 ...
 ['low' 'low' 'low']
 ['low' 'low' 'med']
 ['low' 'low' 'high']]       class
0     unacc
1     unacc
2     unacc
3     unacc
4     unacc
...     ...
1722   good
1723  vgood
1724  unacc
1725   good
1726  vgood

[1727 rows x 1 columns]

In [32]:
Le=LabelEncoder()
for i in range(len(X[0])):
    X[:,i]=Le.fit_transform(X[:,i])

In [33]:
print(X)

[[3 3 2]
 [3 3 0]
 [3 3 1]
 ...
 [1 1 1]
 [1 1 2]
 [1 1 0]]

In [39]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [40]:
model=neighbors.KNeighborsClassifier(n_neighbors=25, weights='uniform')
model.fit(X_train,y_train)

F:\anaconda\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=25, p=2,
                     weights='uniform')

In [41]:
pred=model.predict(X_test)

In [42]:
print(accuracy_score(pred,y_test))

0.7745664739884393